body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	min-width: 1600px;
}

.container {
	width: 1600px;
	margin: auto;
}
	
.intro-slide {
	padding-top: 5px;
	background: #463733 url("../img/bg_intro.jpg") no-repeat 0 0;
	text-align: center;
}

.logo {
	width: 149px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	color: #ffffff;
}

.main-title {
	font-size: 100px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 125px;
	margin-bottom: 50px;
}

.intro-icons {
	color: #ffffff;
	line-height: 18px;
	width: 750px;
	margin: 0 auto;
	font-size: 0;
	
}

.icon-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin-right: 35px;
	padding-top: 95px;
	max-width: 250px;/*пиктограммы отцентрованы относительно надписей, мне это кажется логичнее, но можно сделть и относительно иконок*/
}
.icon-item:last-child{
	margin-right: 0;
}

.icon-item::before {
	position: absolute;
	content: "";
	display: block;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	top:0;
	right: 50%;
	margin-right: -36px;
	width: 72px;
	height: 72px;
	display: block;	
}

.icon-item:nth-child(1)::before {
	background-position: -5px -87px;
}

.icon-item:nth-child(2)::before {
	background-position: -87px -5px;
}

.icon-item:nth-child(3)::before {
	background-position: -5px -5px;
}

.btn {
	background-color: #dd2222;
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	padding: 18px 55px;
	border-radius: 4px;
	margin-top: 130px;
	margin-bottom: 105px;
	cursor: pointer;
}

.btn:hover {
	background-color: #9f0202;
}

/*sprite*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_hand {
    width: 72px;
    height: 72px;
    background-position: -5px -5px;
}

.sprite-icon_present {
    width: 72px;
    height: 72px;
    background-position: -87px -5px;
}

.sprite-icon_tree {
    width: 72px;
    height: 70px;
    background-position: -5px -87px;
}